<h1>
  Heroes
  <small>Marvel y dc</small>
</h1>

<div class="card-columns">
  <div
    class="card animated fadeIn fast"
    *ngFor="let heroe of heroes; let i = index"
  >
    <img
      src="https://cronicaglobal.elespanol.com/uploads/s1/61/11/50/7/main-700b9bff30.jpeg"
      alt=""
      class="card-img-top"
    />
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
    </div>
  </div>
</div>
